:root {
  /* colors */
  --light-green: #caebce;
  --light-green-hover: #aed6b2;
  --green: #37c545;
  --green-hover: #2ca838;
  --red: #f15656;
  --light-gray: #c2c2c2;
  --light-gray-hover: #ababab;
  --gray: #636363;
  --white: #ffffff;
  --black: #000000;

  /* fonts */
  --title-font: sans-serif;
  --body-font: sans-serif;
  --button-font: sans-serif;
  --input-font: sans-serif;
  --puzzle-font: monospace;

  /* font sizes */
  --font-sm: 1rem;
  --font-md: 1.5rem;
  --font-lg: 2rem;
  --font-xl: 2.5rem;
}

.header > h1 {
  text-align: center;
  font-family: var(--title-font);
  font-size: var(--font-xl);
  font-weight: bold;
}

.puzzle {
  font-family: monospace;
}

#create-form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 1200px;
  margin: auto;
}

#create-form > * {
  margin-bottom: 24px;
}

#create-input {
  display: flex;
  flex-direction: column;
}

#create-input > #text {
  box-sizing: border-box;
  width: 100%;
  min-height: 300px;
  margin: 0px;
  padding: 32px;
  border: 5px solid var(--black);
  border-top: none;
  outline: none;
  font-family: var(--input-font);
  font-size: var(--font-md);
  resize: vertical;
}

#create-options { /* for screens <= 1000px, flex-direction column */
  display: flex;
  border: 5px solid var(--black);
  border-right: none;
}

#create-options > .button {
  flex: 1;
  border: none;
  border-right: 5px solid var(--black);
}
