{% extends 'layout.html' %}

{% set title = 'Create Your Own Word Search Puzzle!' %}

{% block content %}
<div>
  <h1>Hello, world!</h1>
  <form action="" method="POST" class="create">
    <div class="create-input">
      <div class="create-input-options">
        <input type="hidden" value="0" name="word-list-type" id="word-list-type">
        <input type="button" value="Custom word list" class="button selected">
        <input type="button" value="Generate with AI" class="button unselected">
        <input type="button" value="Random" class="button unselected">
      </div>
      <textarea placeholder="Enter your list of words" name="word-list" id="word-list"></textarea>
    </div>
    <input type="submit" value="Create Puzzle" class="button">
    <a href="{{url_for('gallery_page')}}" class="button">View Gallery</a>
  </form>
</div>

<script src="{{url_for('static', filename='create.js')}}">
{% endblock %}
