{% extends "layout.html" %}

{% set title = "Create Your Own Word Search Puzzle" %}

{% block content %}
<div>
  <div class="header">
    <h1>Word Search Generator</h1>
  </div>

  <form action="{{url_for('new')}}" method="POST" id="create-form">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="message error-message">
              <span>{{ message }}</span>
              <button class="close-button">&times;</button>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div id="create-input">
      <div id="create-options">
        <input type="hidden" value="0" name="type" id="type" />
        <input type="button" value="Custom word list"
               class="button border-button green-button" id="custom-btn" />
        <input type="button" value="Generate with AI"
               class="button border-button light-green-button" id="ai-btn" />
        <input type="button" value="Random"
               class="button border-button light-green-button" id="random-btn" />
      </div>
      <textarea name="text" id="text"></textarea>
    </div>

    <input type="submit" value="Create Puzzle"
           class="button border-button green-button" id="create-btn" />
    <a href="{{url_for('gallery')}}" class="button border-button light-gray-button">
      View Gallery
    </a>
  </form>
</div>

<script src="{{url_for('static', filename='form.js')}}"></script>
{% endblock %}
